@import '../../main_style.scss';

.skills-block {
    width: 320px;
    height: 100%;
    padding: 1rem;
    background-color: $primary-color;
    color: $background;
    position: absolute;
    top: 0;
    left: 0;
    
    h1 {
        display: none;
    }
    .image {
        width: 285px;
        height: 250px;
        margin-top: 76px;
        margin-bottom: 1rem;
        background-image: url('../../assets/meImage.jpg');
        background-size: no-repeat;
        background-size: cover;
    }

    .skills-block__text {
        h2 {
            margin: .7rem 0;
        }

        li {
            margin-bottom: .4rem;
            animation: 3s 1 normal skills-animation;
        }

        li:hover {
            font-size: 1.06rem;
            transform: translateX(5%);
            transition: 1s;
        }
    }

    .contact {
        img {
            width: 20px;
            margin-right: 10px;
            color: rgb(206, 106, 106);
        }

        a {
            color: $background;
            @extend %display-flex;
            justify-content: flex-start;
            text-decoration: none;

            svg {
                width: 20px;
                height: 20px;
                fill: $background;
            }
        }
    }
}

@media (max-width: 768px) {
    .skills-block {
        width: 100%;
        position: relative;
        z-index: -1;

        h1 {
            width: 40%;
            display: block;
            position: absolute;
            right: 2%;
            top: 10%;
        }

        .image {
            border-radius: 10%;
        }

        &__par {
            margin-bottom: 2rem;
            ul {
                display: flex;
                flex-wrap: wrap;
            }
            li {
                width: 30%;
            }
        }
    }
}

@media (max-width: 425px) {
    .skills-block {
        h1 {
            width: 100%;
            margin-bottom: 2rem;
            position: relative;
        }
        &__par {
            li {
                width: 50%;
            }
        }
    }
}