$primary-color: rgba(66, 49, 114, 1);
$background: #FFFFFF;


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

%around-button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid $primary-color;
    cursor: pointer;
  }

%display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.opacitty {
  opacity: 0;
}

@keyframes skills-animation {
  from {
      opacity: 0;
      transform: translateX(50%);
  }
  to {
      opacity: 1;
      transform: translateX(0%);
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 95%;
}
}